* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 2em 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: #f18119;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  order: -1;
  letter-spacing: 2px;
}

.small-text {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* Intro section */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-color: #404040;
  background-image: url("images/BBQ.jpeg");
  padding: 0 2.5em 1em;
}

/* Main section */

main {
  padding: 2em 1em;
}

.intro > *, main > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input {
  margin: 0.5em;
  width: 60%;
}

form .btn {
  border: none;
  border-radius: 4px;
  background-color: #f18119;
  color: #fff;
  padding: 0.5em 1.5em;
  width: 60%;
}

/* Media queries */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  .container {
    display: flex;
  }

  .intro,
  main {
    width: 50%;
    min-height: 100vh;
  }

  main {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }
}
